[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flake8-tabs = "*"

[packages]
wxpython = "*"
pypubsub = "*"
asciimathml = "*"
latex2mathml = "*"

[requires]
python_version = "3.7"
